.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
    background-color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 40px 20px;
    margin-top: auto;
    box-sizing: border-box;
}
  
.footerSection {
    margin: 20px;
    min-width: 200px;   
}
  
.footer a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    opacity: 0.50;
    transition: opacity 0.3s;
    margin-top: 10px;
    cursor: pointer;
}
  
.footer a:hover {
    text-decoration: none;
    opacity: 1.0;
}

.footer p {
    margin-top: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #e0e0e0, transparent);
    margin: 0;
}